:root {
    --cor1: #0CF25D;
    --cor2: #038C3E;
    --cor3: #02735E;
    --cor4: #025951;
    --cor5: #034159;
    --corBranca: #FFFFFF;
    --corPreta: #000000;
    --corCinza: #808080;
}

.texto-justificado {
    text-align: justify;
}

a.branco {
    color: var(--corCinza);
    text-decoration: none;
}

a.branco:hover {
    color: var(--cor1);
}

body {
    background-color: var(--cor3);
    color: var(--corBranca);
    font-family: Arial, sans-serif;
    padding: 1em;
}

.bgCor {
    background-color: var(--cor2);
    padding: 1em;
    border-radius: 5px;
}